body {
    background-color: rgb(0, 150, 255);
}

.login {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
    font-family: Arial, Helvetica,S sans-serif;
}

.header {
    text-align: center;
    background: red;
    color: white;
    width: 100%;
  }

button {
    text-decoration: none;
    text-align: center;
    border: solid 1px black;
    padding: 5px 20px;
    margin: 2px;
}