<!DOCTYPE html>
<html>

<head>
    <title>Login</title>

    <script src="/Login.js"></script>
    <link rel="stylesheet" href="/Login.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <h1>Login</h1>

    <div>
        <p>Username: <input type="text" id="username"></p>
        <p>Password: <input type="password" id="password"></p>
    </div>

    <button id="login" onclick="location.href='Finance.html'">Login</button>
</body>

</html>